*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: fit-content;
}
.head{
    width: 100%;
    height: 600px;
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3vh 4vh;
    overflow: hidden;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo a{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.8rem;
    text-decoration: none;
    transition-duration: 2s;
    text-align: center;
}
.logo a:hover{
    color: gold;
}

.menu-item{
width: 600px;
height: 50px;

}
.ol-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    position: relative;
    left: 10%;
    top: 3%;
}
.list-item a{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 2s;
}
.list-item a:hover{
    text-decoration: 4px underline;
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin-top: 6rem;
}
.inside-container{
  position:static;
    width: 50%;
    left: 20vw;
    padding: 20px;
    height: fit-content;
}
.button_con{
    background-color:#003400;
    width: fit-content;
    font-family:'Courier New', Courier, monospace;
    height: fit-content;
    padding:0.4rem 2rem;
    font-size: 0.8rem;
    text-align: center;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 12px;
    font-style: oblique;
}
.para{
    font-size: 1.7rem;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
    font-style: oblique;
    margin: 1vw 0;
}

button{
    background-color: #000000;
    margin: 2vh 0;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    transition: 2s linear;
    border: 6px solid #fff
}
button:hover{
    background-color: #ff0000;
    color: #fff;
    transition: 2s linear;
    border: 6px solid gold
}
button a{
    margin:  0 auto;
    padding: 0.2rem;
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}



@media screen and (max-width: 970px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        align-items: center;
        margin-top: 6rem;
    }
    .head{
        width: 100%;
        height:fit-content;
        background-color: #000000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3vh 4vh;
        overflow: hidden;
        
    }
    .nav{
        display: flex;
        justify-content: space-between;
    }
    
    .logo a{
        color: white;
        font-family:'Courier New', Courier, monospace;
        font-size: 1.2rem;
        text-decoration: none;
        transition-duration: 2s;
    }
    .list-item a{
        color: white;
        font-family:'Courier New', Courier, monospace;
        font-size: 1.2rem;
        text-decoration: none;
        transition: 2s;
    }
    .container{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin-top: 6rem;
    }
    .inside-container{
        position:static;
          width: 80%;
          left: 20vw;
         text-align: center;
          padding:18px;
          height: fit-content;
      }
      .para{
        font-size: 1.7rem;
        font-family:'Courier New', Courier, monospace;
        color: #fff;
        font-style: oblique;
        margin: 1vw 0;
    }
}

@media screen and (max-width: 660px){
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .logo a{
        color: white;
        font-family:'Courier New', Courier, monospace;
        font-size: 2.2rem;
      margin: 0 auto;
        text-decoration: none;
        transition-duration: 2s;
    }
    .menu-item{
        width:100%;
        height: fit-content
        }
        .ol-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            width:280px
        }
        .list-item a{
            color: white;
            font-family:'Courier New', Courier, monospace;
            font-size: 1.4rem;
            text-decoration: none;
            margin-top: 12%;
            transition: 2s;
        }
}